In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format
import numpy as np

# Graphics
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go

# ML
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [3]:
df = pd.read_csv("SystemAdministrators.csv")

df.tail()

,task_completed,employee_experience,training_level4,training_level6,training_level8
70,0,5.60,1,0,0
71,0,5.90,0,0,1
72,0,6.40,0,1,0
73,0,3.80,1,0,0
74,0,5.30,1,0,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40)

In [ ]:
K_values = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]


for i in K_values:
    model =